body {
    border-radius: 50%;
    align-items: center;
    background-color: rgb(81, 81, 81);
    width: fit-content;
}

.column {
    float: left;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    border-color: #1e1e1e;
    border-style: solid;
    border-width: 10px;
}

.row::after {
    content: '';
    clear: both;
    display: table;
    border-radius: 50%;
    border-color: #1e1e1e;
    border-width: 10px;
    border-style: solid;
}